<div>
	<script type="text/javascript" src="js/jquery.js"></script>
    
    <div class="row" style="background: #f3f3f3;">
        <div class="col col-70">
            <p>texto texto</p>
        </div>
        <div class="col col-10">
            <button class="button button-stable ion-edit icon-small">&nbsp;</button>
        </div>            
        <div class="col col-10">
            <button class="button button-stable ion-close-round icon-small">&nbsp;</button>
        </div>            
    </div>
    
    
    <div class="row">
        <div class="col">
        	<button class="button button-full button-canguru icon-left ion-plus-round icon-left-14">Adicionar medicamento</button>
        </div>
    </div>
    
    <div class="row" id="row-medicamento">
    	<div class="col col-100">
        	<h2>Medicamento 1</h2>
            <div class="traco"></div>
            <form class="formulario">
                <label>horário</label>
                <input type="text" placeholder="John">
                
                <label>remédio</label>
                <input type="text" placeholder="John">
                
                <label>dosagem</label>
                <input type="text" placeholder="John">
                
                <label>responsável</label>
                <input type="text" placeholder="John">
                
                <label>temperatura</label>
                <input type="text" placeholder="John">
            </form>
        </div>
    </div>
        <div class="traco"></div>
        <div class="row">
        	<div class="col col-50">
                <button class="button button-full button-canguru icon-left ion-plus-round icon-left-14"> medicamento</button>
            </div>
        	<div class="col col-50">
                <button class="button button-full button-canguru icon-left ion-checkmark-round icon-left-14" id="btn-concluir">concluir</button>
            </div>            
        </div>
</div>







