<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <title>Hello World</title>
        
        <link href="css/ionic.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">

        <script src="js/ionic.bundle.js"></script>   
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript">
            app.initialize();
        </script>
    </head>
    
    <body>
    
<ion-side-menus ng-controller="SideMenusSimpleCtrl">

    <ion-side-menu-content>
        <!-- HEADER MENU -->
        <ion-header-bar class="bar-energized">
          <div class="buttons">
            <div class="button button-clear" ng-click="toggleLeft()">
              <i class="icon ion-navicon"></i>
            </div>
          </div>
          <h1 class="title">Side</h1>
        </ion-header-bar>
        
        <!-- CONTENT -->
        <ion-content class="padding">
          <p>Slide the content or press the button on the header to open a side menu.</p>
        </ion-content>
        
        <!-- FOOTER -->
        <div class="bar bar-footer bar-energized">
          <h1 class="title">Footer</h1>
        </div>
    </ion-side-menu-content>
    
    <!-- MENU LEFT -->
    <ion-side-menu side="left">
        <ion-header-bar class="bar-assertive"></ion-header-bar>
        <ion-content>
          <a class="item" ng-click="toggleLeft()">
            Close Menu
          </a>
        </ion-content>
    </ion-side-menu><!-- /MENU LEFT -->

</ion-side-menus>
        
    
    </body>
    
</html>
