/******************************************************/
/********************** DEFAULT ***********************/
/******************************************************/

.text-center {
  text-align: center;
}

.center-block {
  display: block;
  margin: 0 auto;
}

.no-float{
	float: none;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.visible {
	visibility: visible;
}

.invisible {
	visibility: hidden;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}

.no-border{
	border: none !important;
}

.no-padding{
	padding: 0 !important;
}

/******************************************************/
/***************** FIM DE DEFAULT *********************/
/******************************************************/
@font-face {
  font-family: 'canguru';
  src: url('../fonts/font-canguru.ttf');
  font-weight: bold;
}


h1, h2, h3, h4, h5, h6{
	font-family: canguru;
	text-transform: uppercase;
	color: #e42012;
	font-weight: normal;
	text-align: center;
	margin: 0;
	padding: 0;
}

p, a, li, label{
	color: #8D8C90 !important;
	font-size: 12px;
}

.traco{
	width: 100%;
	margin: 10px auto;
	border-bottom: 1px dashed #ccc;
	display: block;
}

.button{
	border-radius: 5px;
}

.button.button-canguru{
	background: #d26b54;
	border-radius: 5px;	
	border: 1px solid #b9523b;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 1px 1px 3px rgba(124, 37, 17, 0.5);
	font-size: 12px;
}

.button.button-canguru.activated{
	background: #EF473A;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.button.icon-left-14:before, .button.icon-right-14:before {
	font-size: 14px !important;
}

.formulario label{
	font-size: 12px;
	text-transform: uppercase;
	color: #8d8c90;
	line-height: 25px;
}

.formulario input,
.formulario textarea{
	border: 1px solid #ccc;
	border-radius: 5px;
	outline: none;
	display: block;
	padding: 10px;
}

.formulario input:focus,
.formulario textarea:focus{
    background: rgba(242, 242, 242, 0.3);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}


.icon-small{
	background: transparent !important;
	min-width: 0px !important;
	min-height: 0px !important;
	line-height: 0 !important;
	border: 0;
	padding: 5px !important;
}

/******* TOP ***********/
.bar-right button{
	padding: 0 10px !important;
	border-left: 1px solid #e42012 !important;
}

.user-filho{
	border:2px solid #fff;
	width: 33px;
	border-radius: 50px;
	float: left;
	margin: 0 15px 0 0;
}

/*********** MENU LEFT **************/

.menu-left .user img{
	border:1px solid #CCC;
	width: 40px;
	border-radius: 50px;
	float: left;
	margin: 0 15px 0 0;
}

.menu-left .user span{
	text-align: left;
	display: block;
}

/************** POPOVER ***************/
.popover h4{
	border-bottom: 1px dashed #ccc;
	padding: 0 0 10px 10px;
}
.popover-calendario,
.popover-user-filho{
	height: 220px;
}

.popover-recado{
	width: 300px;
	height: 325px;
}


.lista-recados{
	height: 115px;
	overflow: auto;
	border: 1px solid #f2f2f2;
}

.lista-recados li{
	padding: 10px;
	border-bottom: 1px solid #f2f2f2;
}

.lista-recados li:last-child{
	border-bottom: 0;
}


.enviar-recado form label textarea{
	border: 1px solid #ccc;
	height: 50px;
}


.list-popover a{
	border-bottom: 1px solid #ccc !important;
	margin: 0;
}

.list-popover a:last-child{
	border-bottom: 0 !important;
}

.user-filho-popover a img{
	width: 40px;
	border-radius: 30px;
	border: 2px solid #ccc;
	float: left;
	margin-right: 10px;
}

.user-filho-popover a span{
	text-align: left;
	line-height: 16px;
	display: block;
	margin-top: 5px;
}


/************************************************/
/******************* ACORDION *******************/
/************************************************/

.list .item.item-accordion {
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}

.list .item.item-accordion.ng-hide {
  line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.item{
	color: #8d8c90;
}

.item.item-stable{
	border-color: #ccc;
	background-color: #f4f4f4;
	color: #8d8c90;
}


.recados-medicamentos{
	padding-top: 10px;
}

.item-remedio{
	background:#f3f3f3;
	border: 1px solid #ccc;
}

.item-remedio .col-70 p{
	line-height: 27px;
	font-size: 12px;
	text-transform: uppercase;
	white-space: normal;
}

.item-radio .radio-icon{
	color: #D26B54;
	font-size: 25px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}


.item-radio input:checked ~ .item-content {
	color: #D26B54;
    background: rgba(242, 242, 242, 0.3);
	border: 0;
	box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}



/**************************************************/
/***************   CALENDAR   *********************/
/**************************************************/
.btn-toolbar{
	margin-top: 0;
	background: #f3f3f3;
	border-bottom: 1px solid #ccc;
	text-align: right;
	padding: 6px;
}

.btn-toolbar button{
	padding-left: 15px;
	color: #8d8c90 !important;
}

.calendar{
	padding: 0 20px;
}

/*.fc-toolbar .fc-left{
	width: 100%;
	margin: 0px auto;
	text-align: center;
}
*/.fc .fc-toolbar > * > * {
    float: none;
}

